:root{
    --sidebar-color: #fff;
    --primery-color: #fff;
    --column-color: #fff;
    --text-first-color: #1C1D22;
    --text-second-color: rgba(28, 29, 34, 50%);
    --item-color: rgba(28, 29, 34, 0.04);
}



html{
    font-size: 62.5%;   /*  10px */
}


body{
    background-color: var(--primery-color);
    font-family: "Exo2-Medium";
}

::-webkit-scrollbar {
    display: none;
}








/*

-- Reset Styles

*/


a , a:active, a:visited {

    color: #000000;
    text-decoration: none;
    
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}


/*

- helper classes -

*/


.align-items-center{
    align-items: center;
}




/*

 - Header -

*/


.header {

    background-color: #1d233d ;
  
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 ;
}

.nav__logo {

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    font-family: "Exo2-Bold";
    color: var(--primery-color);
    font-size: 2rem;
    margin: 0;
    min-width: 13rem;
}


.nav__btn{
    display: flex;
    align-items: center;
    
    

}

.nav__btn--login,.nav__btn--signup{
    
   
    font-family: "Exo2-SemiBold";
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    transition: all 120ms ease-in;
    
    
}

.nav__btn--login a , .nav__btn--signup a {
    color: var(--primery-color);
}
.nav__btn--login:hover , .nav__btn--signup:hover{
    
    background-color: #775ee9;
    transition: all 200ms ease-in;

}


.nav__content{

    display: flex;
    align-items: center;
    gap: 7rem;
}



.menu {
    
    display: flex;
    z-index: 100;
    font-family: "Exo2-SemiBold";
    font-size: 1.4rem;
    
}

.menu__item {

    margin-right: 4rem;

}

.menu__item:last-child {
    margin-right: 0rem;
}



.menu__link {

    display: inline-block;
    color: inherit;
    font-family: "Exo2-SemiBold";
    transition: color 120ms ease-in;
   
}

.menu__item a {
    color: var(--primery-color);
}

.menu__link:hover{
    color: #775ee9;
}




/*

 - main -

*/






.main{
     
}

.home{
    padding-top: 9.8rem;
    padding-bottom: 9.8rem;
    background-color: #1d233d
}

.row{

    display: flex;
    flex-wrap: wrap;
    align-items: center
        
}

.col-6{
    
}

.home__content{
    
    
}

.home__title{

    font-family: "Exo2-Bold";
    font-size: 4rem;
    width: 50rem;
    margin: 0;
    color: var(--primery-color);

}

.home__title span{
    color: #775ee9;
}

.home__caption{

    width: 41rem;
    font-size: 1.3rem;
    font-family: "Exo2-SemiBold";
    margin: 2.5rem 0 0 0;
    color: var(--primery-color);
}

.home__link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Exo2-SemiBold";
    font-size: 1.4rem;
    border-radius: 2rem;
    background-color: #775ee9;
    width: 10rem;
    height: 4rem;
    margin: 2.5rem 0 0 0;
    
}

.home__link a{
    color: var(--primery-color);
}


.home__picture{
   
}

.home__image{
    width: 60rem;
    height: 40rem;
}




.aboutus{
   padding-top: 6rem;
   
}


.section-head{
    
    text-align: center;

}

.secttion-title{

    font-family: "Exo2-Bold";
    font-size: 2.5rem;
    width: 11rem;
    margin: auto;

}

.section-line{
    width: 3rem;
    height: .4rem;
    background-color: #775ee9;
    border-radius: 2rem;
    margin: auto;
    margin-top: 1rem;
}

.section-caption{

    font-family: "Exo2-SemiBold";
    font-size: 1.4rem;
    width: 46rem;
    margin: auto;
    margin-top: 1rem;
    color: rgba(28, 29, 34,100%);
}

.about{

    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    
}

.about__picture{
    
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about__image{

    width: 50rem;
    height: 50rem;
    
}

.about__content{

    
    
    font-family: "Exo2-SemiBold";
    font-size: 1.4rem;
    width: 58rem;
    line-height: 2rem;
    color: rgba(28, 29, 34,100%);
    

    
}

.about-content__btn{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Exo2-SemiBold";
    font-size: 1.4rem;
    border-radius: 2rem;
    background-color: #775ee9;
    width: 10rem;
    height: 4rem;
    margin: 2.5rem 0 0 0;
    


}

.about-content__btn a{
    color: var(--primery-color);
}

