@media (max-width: 1400px) {
    .about{
        height: 55rem;
    }

    .about__content{
        padding-right: 0;
        
    }
}

@media (max-width: 1200px) {

    .content__items {
        width: 35rem;
    }

    .nav__content{
        gap: 5rem;
    }

    .home__image{

        width: 45rem;
        height: 35rem;
    }


    .home__title{
        font-size: 3.6rem;
        width: 47rem;
    }

    .home {
        padding-top: 12.3rem;
        padding-bottom: 12.6rem;
    }

    .home__picture{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__image{
        padding: 0;

        flex-basis: 45%;
    }

    .about__content{
        flex-basis: 55%;
    }


}



@media (max-width: 1100px){

    .task__title h3 {
        font-size: 1.4rem;
    }

    .task__description {
        font-size: 1.2rem;
    }

    .task__footer--date {

        font-size: 1.1rem;
    }

    .task__title--icon {
        width: 2rem;
        height: 2rem;
    }

    .task__progres--icon {
        font-size: 1.2rem;
    }

    .task__progres--count {
        font-size: 1.2rem;
    }


}





@media (max-width: 992px) {
        .panel {
            width: 0;
            overflow: hidden;
            transition: all .5s ease-in;
        }

        .wrapper {
            width: 100%;
            padding-left: 0;
            margin-left: 7.5rem;
        }

        .task__title h3 {
            font-size: 1.3rem;
        }

        .task__description {
            font-size: 1.1rem;
        }

        .task__footer--date {

            font-size: 1rem;
        }

        .task__title--icon {
            width: 2rem;
            height: 2rem;
        }

        .task__progres--icon {
            font-size: 1.1rem;
        }

        .task__progres--count {
            font-size: 1.2rem;
        }

        .task {
            height: 18rem;
        }

        .task__footer--icon {
            top: -2rem;
        }

        .task__title h3 {

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .nav{
            padding: 1.5rem 0;
        }
        
        .menu__item{
            margin-right: 2rem;
        }
    
        .nav__content{
            gap: 3rem;
        }

        .home__content{

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
        }
    
        .row{
            flex-direction: column-reverse;
        }
    
        .home{
            padding-top: 8rem ;
            padding-bottom: 8rem ;
        }

        .about{
            flex-direction: column;
            padding-top: 20rem;
        }
    
        .about__image{
            width: 40rem;
        }
    
        .about__content{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            font-size: 1.4rem;
            padding: 0;
        }
    
        .section-title{
            font-size: 2rem;
        }
    
        .section-caption{
            font-size: 1.2rem;
        }
    
        .aboutus {
            padding-top: 3rem;
        }

    

}


    @media (max-width: 920px) {

        .content {

            flex-wrap: wrap;
        }

        .content__items {
            flex-grow: 1;

        }
    }

    @media (max-width: 768px) {
        .nav__item--search {

            display: none;
        }

        .nav__item--notification {

            display: none;
        }

        .content {
            flex-wrap: wrap;
        }

        .menu{
            display: none;
        }

        .home__image{
            width: 40rem;
            height: 30rem;
        }
    
        .home__title{
            font-size: 3.3rem;
        }
    
        .home{
            padding-top: 4rem ;
       
        }

    }

    @media (max-width: 576px) {
        .nav__item--date {
            display: none;
        }

        .nav__title {
            font-size: 1.5rem;
        }

        .home__image{
            width: 35rem;
            height: 25rem;
        }
    
        .home__title{
            font-size: 3rem;
        }

        .about__image{
            width: 35rem;
        }
    
        .about{
            padding-top: 20rem;
        }
    
        .about__content{
            font-size: 1.3rem;
            width: 40rem;
        }
    
        .section-caption{
            width: 40rem;
        }

    }

    @media (max-width: 440px){

        .section-caption{
            width: 39rem;
        }
    
        .about__image{
            width: 30rem;
        }
    
        .about__content{
            width: 29rem;
        }
    }


    @media (max-width: 420px){

        .nav__btn--login, .nav__btn--signup{
            padding: 1rem;
        }

        .section-caption{
            width: 35rem;
        }
    }